
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Personality Evaluation</title>
    <style>
        .login {
            text-align: center;
        }
        .container {
            display: flex;
            align-items: center;
            justify-content: center;
            height: 100vh;
            flex-direction: column;
        }
    </style>
</head>
<body>
    <div class="container">
        <h1>Welcome to the home page</h1></br></br>
        <input type="button" value="prediction" onclick="window.location.href='/predictdata';">
    </div>
</body>
</html>